ul {
  list-style: none;
}

.WordList_title {
  text-align: center;
  margin: 0;
  margin-top: 20px;
  font-size: 1.5em;
  color: dodgerblue;
}

.WordList_header {
  margin-top: 5px;
}

.WordList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.correct li,
.incorrect li {
  text-align: center;
}
