.Button {
  border: 1px solid #aaa;
  background-color: #ddd;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
  margin-left: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.Button:hover {
  border: 1px solid green;
  background-color: #3E8E41;
  color: white;
}