.LoginForm {
  width: 400px;
  margin: 0 auto;
}

.LoginForm__footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.LoginForm__link {
  color: black;
  text-decoration: none;
}

.LoginForm__link:hover {
  text-decoration: underline;
  color: dodgerblue;
}